@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">APHCJW - kötelező program III.</h1>
    <h3 class="display-4">Santa Claus</h3>
    <div class="text-left">
        <p>Readme</p>
        <ul>
            <li><p>A feladatkiírásnak megfelelően a lista prioritás szerint van rendezve ami nem látható, de Details-ra kattintva látszik az ellenőrzéséhez.</p></li>
            <li>
                <p>
                    A kiírásban az van, hogy csak a név, és szín nem üres, de a mellékelt sql-ben "not null"-ként van létrehozva a súly, és prioritás is.
                    Mivel 1, és 10 közötti, de üres prioritásnak nincs sok értelme mindent required-ként vettem fel, és van kezdőértékük Create.cshtml-ben.
                </p>
            </li>
            <li><p>Edit-ben a cshtml-ben le van tiltva a név, és a súly. A PresentController Edit metódusban pedig csak a szín, és prioritás mentődik ennek megfelelően.</p></li>
        </ul>
    </div>
</div>
